body {
  margin: 0;
  padding: 0;
}

.encabezado {
  background-color: green;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
}

.barra-busqueda {
  display: flex;
}

.barra-busqueda input[type="text"] {
  padding: 20px 60px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

.barra-busqueda button {
  padding: 20px 40px;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.botones button {
  padding: 8px 15px;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

  